<input type="hidden" name="user" value="{{user.id}}">
<div class="main-container profile">
    <h1 style="font-size:20px; font-weight:700;" class="my-5">Mis datos</h1>
{{!--account data--}}
    <div class="user_profile"> 
        {{#if user.img}}
        
        <a href="#user"  class="modal-trigger"><img class=" img_profile" src="/uploads/{{user.img}}" alt="usuario foto"> </a>                
        <div id="user" class="modal">
            <div class="modal-content">
                <div id="list"></div>
                <form action="/links/userPhoto" method="post" enctype="multipart/form-data">
                    <input type="file" class="hip" name="image" id="files" accept="image/*" onChange="img_pathUrl(this);">
                    <label class="bDWbfv" id="lblfl" for="files"><i class="fi fi-rs-picture"></i> Elegir foto</label>
                    <img src="" id="img_url" alt="your image">
                    <button class="bDWbfv" type="submit" id="profile_img">Guardar</button>
                </form> 
            </div>            
        </div>
        {{else}}
        <a href="#user"  class="modal-trigger"><img class=" img_profile" src="https://i0.wp.com/www.repol.copl.ulaval.ca/wp-content/uploads/2019/01/default-user-icon.jpg?fit=300%2C300" alt="usuario foto"> </a>                
        <div id="user" class="modal">
            <div class="modal-content">
                <div id="list"></div>
                <form action="/links/userPhoto" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" id="files">
                    <button type="submit" >Guardar</button>
                </form> 
            </div>            
        </div>
        {{/if}}
    </div>

    <div class="section d-flex mb-3">
        <div class="section__title" style="width:60%; line-height:1.25;">
            <h2 class="subtitle "style="font-size:18px; font-weight:700;">Datos de la cuenta</h2>
        </div>
    </div>

    <div class="andes-card andes-card--flat andes-card--default profile-card andes-card--padding-default">
        <div class="row__value">
            <div class="col-sm my-3">
            Usuario
            </div>
            <div class="col-sm my-3">
            {{user.username}}
            </div>
            <div class="col-sm my-3 text-right">
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
            </div>
        </div>
       
        <div class="row__value">
            <div class="col-sm my-3">
            Email
            </div>
            <div class="col-sm my-3">
            {{user.email}}
            </div>
            <div class="col-sm my-3 text-right">
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
            </div>
        </div>
    </div>
{{!-- personal data --}}
<div class="section d-flex mb-3">
        <div class="section__title" style="width:60%; line-height:1.25;">
            <h2 class="subtitle "style="font-size:18px; font-weight:700;">Datos personales</h2>
        </div>
    </div>

    <div class="andes-card andes-card--flat andes-card--default profile-card andes-card--padding-default">
        <div class="row__value">
            <div class="col-sm my-3">Nombre y apellido</div>
            <div class="col-sm my-3">{{user.name}} {{user.lastname}}</div>
            <div class="col-sm my-3 text-right">
                <a tabindex="0" href="#infoname" class="modal-trigger">
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
                </a>
                <!-- Modal name & lastname -->
                <div id="infoname" class="modal">
                    <div class="modal-content">
                        <div class="center">
                            <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>                                               
                        </div>

                        <hr>                                                
                        <div class="text-center">
                            <div class="text-left">
                            Si es por un error ortográfico en tu nombre o apellido, o si te registraste con tu DNI verdadero y un nombre de fantasía, y querés cambiarlo al real, <a href="#"> podés corregirlo</a>. Vas a necesitar fotos del frente y del dorso de tu DNI para validar el cambio.
                            </div>
                            <div class="text-left mt-5" >
                                Si lo que querés es tener tu cuenta a nombre de otra persona o empresa, entonces tenés que <a href="#"> cambiar la titularidad de tu cuenta</a>.
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row__value">
            <div class="col-sm my-3">Documento</div>
            <div class="col-sm my-3">{{user.dni}}</div>
            <div class="col-sm my-3 text-right">

                <a tabindex="0" href="#infodni" class="modal-trigger">
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
                </a>                
                <!-- Modal dni -->
                <div id="infodni" class="modal">
                    <div class="modal-content">
                        <div class="center">
                            <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>                                               
                        </div>

                        <hr>                                                
                        <div class="text-center">
                            <div class="text-left">
                            Si es por un error de tipeo en tu DNI, o si te registraste con un DNI de fantasía, y querés cambiarlo al real, <a href="#"> podés corregirlo</a>. Vas a necesitar fotos del frente y del dorso de tu DNI para validar el cambio.
                            </div>
                            <div class="text-left mt-5" >
                                Si lo que querés es tener tu cuenta a nombre de otra persona o empresa, entonces tenés que <a href="#"> cambiar la titularidad de tu cuenta</a>.
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                    </div>
                </div>              
            </div>
        </div>
        <div class="row__value">
            <div class="col-sm my-3">Teléfono</div>
            <div class="col-sm my-3" id="userTel">{{user.telephone}}</div>
            <div class="col-sm my-3 pr-0">
                <a tabindex="0" href="#infotel" class="modal-trigger">
                    <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                        <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                    </svg>
                </a>                       
                <!-- Modal tel -->
                <div id="infotel" class="modal">
                    <div class="modal-content">
                        <form action="/links/UpdateTel" method="post">
                            <label for="telephone">Telefono</label>
                            <input placeholder="Telefono" name="telephone" value="{{user.telephone}}" id="telephone" type="text" class="validate">
                            <button  class="bDWbfv"type="submit">Guardar</button>
                        </form>
                    </div>                    
                </div>                                                 
            </div>
        </div>

        <div class="row__value" id="alt-phone">
            <div class="col-sm my-3">Teléfono Alternativo</div>
            
            {{#if user.altphone}}
            <div class="col-sm my-3" id="userTel">{{user.altphone}}</div>
            <div class="col-sm my-3 pr-0">
                <a tabindex="0" href="#infoaltphone" class="modal-trigger">
                    <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                        <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                    </svg>
                </a>                       
                <!-- Modal tel -->
                <div id="infoaltphone" class="modal">
                    <div class="modal-content">
                        <form action="/links/UpdateAltPhone" method="post">
                            <label for="altPhone">Telefono Alternativo</label>
                            <input  name="altphone" value="{{user.altphone}}" id="altPhone" type="text" class="validate">                            
                            <button class="bDWbfv" type="submit">Guardar</button>
                        </form>
                        
                    </div>   
                                  
                </div>                                                 
            </div>
               
            {{else}}
            <div class="text-center">
                <a tabindex="0" href="#altPhone" class="modal-trigger">
                    <div class="col-sm my-3 text-right">
                        Agregar
                    </div>
                </a>
                <!-- Modal tel -->
                <div id="altPhone" class="modal">
                    <div class="modal-content">
                        <form action="/links/addAltPhone" method="post">
                            <label for="AltPhone">Telefono Alternativo</label>
                            <input placeholder="Telefono" name="altPhone"  id="AltPhone" type="text">
                            <button class="bDWbfv" type="submit">Guardar</button>
                        </form>
                    </div>                    
                </div> 
            </div>
            {{/if}}  
        </div>
        {{#if user.altphone}}
        <div class="row__value">
            <div class="col-sm my-3">
            <a href="links/deleteAltPhone">Eliminar teléfono alternativo</a>
            </div>
            
            <div class="col-sm my-3 text-right">
                
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
            </div>
        </div>
        {{/if}}
    </div>
{{!-- addresses --}}
    <div class="section d-flex mb-3">
        <div class="section__title" style="width:60%; line-height:1.25;">
            <h2 class="subtitle "style="font-size:18px; font-weight:700;">Domicilios</h2>
        </div>
    </div>

    <div class="andes-card andes-card--flat andes-card--default profile-card andes-card--padding-default">
        <div class="row__value">
            <div class="col-sm my-3">
            Domicilio
            </div>
            <div class="col-sm my-3">
            
            </div>
            <div class="col-sm my-3 pr-0 ">        
                <a class="nav-link  text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <svg class="ui-icon ui-icon--menu" width="7" height="15" viewBox="0 0 8 35" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#000000cc" fill-rule="evenodd">
                        <path d="M4 7.838c2.21 0 4-1.754 4-3.919C8 1.755 6.21 0 4 0S0 1.755 0 3.92c0 2.164 1.79 3.918 4 3.918z"></path>
                        <ellipse cx="4" cy="17.458" rx="4" ry="3.919"></ellipse><ellipse cx="4" cy="30.998" rx="4" ry="3.919"></ellipse>
                    </g>
                </svg>
                </a>
                
            </div>
        </div>
        
        <main role="main" id="root-app">		
    <div class="ml-addresses">
        <div>
            <ul class="ml-addresses__list">        
                <li class="ml-addresses__list-item">
                    <div class="ml-addresses-data">
                        <dl>
                            <dt>Direccion:</dt>
                                <dd class="ml-addresses-data__item ml-addresses-data__item--strong">Lisandro De La Torre SN</dd>
                            <dt>Datos Adicionales:</dt>
                                <dd class="ml-addresses-data__item"></dd>    
                            <dt>Referencias:</dt>
                                <dd class="ml-addresses-data__item">Barrio 40 Viviendas Manzana 82 Casa 13. Casa Bord&oacute;, Ventanas Grises</dd>    
                            <dt>Localidad:</dt>
                                <dd class="ml-addresses-data__item">Corrientes(3342), Gobernador Ingeniero V Virasoro</dd>
                            <dt>Contacto:</dt>
                                <dd class="ml-addresses-data__item">Fern&aacute;ndez Alan Nahuel - 3756451433</dd>
                        </dl>  
                    </div>                    
                </li>
            </ul>
        </div>
    </div>
        </main>
          
       
        <div class="row__value">
            <div class="col-sm my-3">
            <a href="links/address">Agregar domicilio</a>
            </div>
            
            <div class="col-sm my-3 text-right">
                
                <svg width="10" height="10" viewBox="0 0 6 10" class="right-arrow">
                    <path fill="none" fill-rule="evenodd" stroke="#3483FA" stroke-width="1.5" d="M1 1l4 4-4 4"></path>
                </svg>
            </div>
        </div>
    </div>
</div>

