{{#if direccion}}

<div class="row">
    <form class="col s12" action="updateAddress" method="post">
      <div class="row">
        <input type="hidden" name="id" value="{{direccion.id}}">
        <div class="input-field col s12"><h1 style="font-size:20px; font-weight:700;" class="my-3">Agregá un domicilio </h1></div>
        <div class="input-field col s6">
          <input id="Name" type="text" name="nameClient" class="validate" value="{{direccion.nameClient}}">
          <label for="Name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="cp" type="number" name="cp" class="validate" readonly  value="3342"> 
          <label for="cp">Codigo Postal</label>
        </div>
        <div class="input-field col s6">
          <input id="province" type="text" name="province"class="validate" readonly  value="Corrientes">
          <label for="province">Provincia</label>
        </div>
        <div class="input-field col s6">
          <input id="local" type="text" name="locality"class="validate" readonly  value="Virasoro">
          <label for="local">Localidad</label>
        </div>
        <div class="input-field col s6">
          <input id="barrio" type="text" name="district"class="validate" value="{{direccion.district}}">
          <label for="barrio">Barrio</label>
        </div>
        <div class="input-field col s6">
          <input id="calle" type="text"name="street" class="validate" value="{{direccion.street}}">
          <label for="calle">Calle</label>
        </div>
        <div class="input-field col s6">
          <input id="numero" type="text" name="numberST" class="validate" value="{{direccion.numberST}}">
          <label for="numero">Número</label>
        </div>
        <div class="input-field col s6">
          <input id="piso" type="text" name="departament"class="validate" value="{{direccion.departament}}">
          <label for="piso">Piso/Departamento</label>
          
        </div>
        <div class="input-field col s12 ">¿Entre qué calles está? (opcional)</div>
        <div class="input-field col s6">
          <input id="calle1" type="text" name="street1" class="validate" value="{{direccion.street1}}">
          <label for="calle1">Calle 1 </label>
        </div>
        <div class="input-field col s6">
          <input id="calle2" type="text" name="street2"class="validate" value="{{direccion.street2}}">
          <label for="calle2">Calle 2</label>
        </div>
        <div class="input-field col s12">
            Indicaciones adicionales para entregar tus compras en esta dirección (opcional)
            <i class="ri-information-line modal-trigger" href="#infoExtraReferences"></i>
             <div id="infoExtraReferences" class="modal">
                <div class="modal-content">
                <h4>Información</h4>
                <p>Descripción de la fachada, puntos de referencia para encontrarla, indicaciones de seguridad, etc.</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
            </div>
        </div>
        <div class="input-field col s12">
            <textarea name="extraReferences" id="textarea2" class="materialize-textarea" data-length="120">{{direccion.extraReferences}}</textarea>
            <label for="textarea2">Referencias</label>          
        </div>
        <div class="input-field col s12">
            ¿Es tu casa ó tu trabajo?
        </div>
        {{#if address}}
        <p>
        <label>
            <input name="address" type="radio" value="casa" checked />
            <span>Casa</span>
        </label>
        </p>        
        <p>
        <label>
            <input name="address" type="radio" value="trabajo" />
            <span>Trabajo</span>
        </label>
        </p>
        {{else}}
        <p>
        <label>
            <input name="address" type="radio" value="casa"  />
            <span>Casa</span>
        </label>
        </p>        
        <p>
        <label>
            <input name="address" type="radio" value="trabajo"  checked/>
            <span>Trabajo </span>
        </label>
        </p>
        {{/if}}
        <button> Guardar</button>
      </div>

    </form>
    <form class="col s12" action="deleteAddress" method="post">
      <input type="hidden" name="id" value="{{direccion.id}}">
      <button>Eliminar</button>
    </form>
</div>
{{else}}

<div class="row">
    <form class="col s12" action="addAddress" method="post">
      <div class="row">

        <div class="input-field col s12"><h1 style="font-size:20px; font-weight:700;" class="my-3">Agregá un domicilio </h1></div>
        <div class="input-field col s6">
          <input id="Name" type="text" name="nameClient" class="validate">
          <label for="Name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="cp" type="number" name="cp" class="validate" readonly  value="3342"> 
          <label for="cp">Codigo Postal</label>
        </div>
        <div class="input-field col s6">
          <input id="province" type="text" name="province"class="validate" readonly  value="Corrientes">
          <label for="province">Provincia</label>
        </div>
        <div class="input-field col s6">
          <input id="local" type="text" name="locality"class="validate" readonly  value="Virasoro">
          <label for="local">Localidad</label>
        </div>
        <div class="input-field col s6">
          <input id="barrio" type="text" name="district"class="validate">
          <label for="barrio">Barrio</label>
        </div>
        <div class="input-field col s6">
          <input id="calle" type="text"name="street" class="validate">
          <label for="calle">Calle</label>
        </div>
        <div class="input-field col s6">
          <input id="numero" type="text" name="numberST" class="validate">
          <label for="numero">Número</label>
        </div>
        <div class="input-field col s6">
          <input id="piso" type="text" name="departament"class="validate">
          <label for="piso">Piso/Departamento</label>
          
        </div>
        <div class="input-field col s12 ">¿Entre qué calles está? (opcional)</div>
        <div class="input-field col s6">
          <input id="calle1" type="text" name="street1" class="validate">
          <label for="calle1">Calle 1 </label>
        </div>
        <div class="input-field col s6">
          <input id="calle2" type="text" name="street2"class="validate">
          <label for="calle2">Calle 2</label>
        </div>
        <div class="input-field col s12">
            Indicaciones adicionales para entregar tus compras en esta dirección (opcional)
            <i class="ri-information-line modal-trigger" href="#infoExtraReferences"></i>
             <div id="infoExtraReferences" class="modal">
                <div class="modal-content">
                <h4>Información</h4>
                <p>Descripción de la fachada, puntos de referencia para encontrarla, indicaciones de seguridad, etc.</p>
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                </div>
            </div>
        </div>
        <div class="input-field col s12">
            <textarea name="extraReferences" id="textarea2"  class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea2">Referencias</label>          
        </div>
        <div class="input-field col s12">
            ¿Es tu casa ó tu trabajo?
        </div>
        <p>
        <label>
            <input name="address" type="radio" value="casa"  />
            <span>Casa</span>
        </label>
        </p>
        <p>
        <label>
            <input name="address" type="radio" value="trabajo" />
            <span>Trabajo</span>
        </label>
        </p>
        <button> Guardar</button>
      </div>

    </form>
    
  </div>
{{/if}}

