
<div class="mobile">  
  {{#if productos}}
  <div class="sc-2gifh7-0 eYOlte">
    <section class="sc-1vajajk-0 dnEywU">
      <div class="sc-1vcje4d-0 hOxaVc">
        <div class="sc-14240dp-0 hgbBVv">
          <h1 class="sc-1lg1qjq-0 iQtQAA">
            
              {{tienda.social_reason}}- {{ubi.street}}- {{ubi.numberST}}
          </h1>
          
            <div class="sc-1m83edm-0 eakukJ">
              <div class="sc-1m83edm-3 GPAbx">
                <div class="sc-111181-0 gACav sc-111181-1 lkWCDe">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b1a46" viewBox="0 0 16 16"><path d="M11.502 1C13.791 1 15.5 2.84 15.5 5.226c0 2.193-1.223 3.92-5.015 7.566l-1.154 1.096-.953.899a.495.495 0 01-.315.135L8 14.92l-.063.002a.475.475 0 01-.244-.08l-.071-.055-1.83-1.73C1.782 9.226.5 7.471.5 5.226.5 2.84 2.209 1 4.498 1c1.157 0 2.408.62 3.338 1.488l.141.138.174-.16c.917-.811 2.046-1.385 3.122-1.458l.23-.008zm0 1c-1.043 0-2.291.72-3.166 1.689a.5.5 0 01-.757-.018C6.813 2.74 5.549 2 4.499 2 2.778 2 1.5 3.377 1.5 5.226c0 1.947 1.338 3.669 5.563 7.66l.937.882 1.221-1.152c3.909-3.712 5.218-5.407 5.277-7.257l.002-.133C14.5 3.377 13.221 2 11.502 2z"></path>
                  </svg>
                  {{!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b1a46" viewBox="0 0 16 16"><path d="M11.502 1C13.791 1 15.5 2.84 15.5 5.226c0 2.193-1.223 3.92-5.015 7.566l-1.154 1.096-.953.899a.495.495 0 01-.315.135L8 14.92l-.063.002a.475.475 0 01-.244-.08l-.071-.055-1.83-1.73C1.782 9.226.5 7.471.5 5.226.5 2.84 2.209 1 4.498 1c1.157 0 2.408.62 3.338 1.488l.141.138.174-.16c.917-.811 2.046-1.385 3.122-1.458l.23-.008z"></path></svg> --}}
                </div>
              </div>

              <div class="sc-1m83edm-1 cIhxcT">
                <div>
                  <a href="/links/info/{{ubi.user_id}}">
                    <div class="sc-1m83edm-3 GPAbx">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b1a46" viewBox="0 0 16 16"><path d="M8 .5a7.5 7.5 0 110 15 7.5 7.5 0 010-15zm0 1a6.5 6.5 0 100 13 6.5 6.5 0 000-13zm.064 5.257a.5.5 0 01.492.41l.008.09v3.5H9.62a.5.5 0 01.492.41l.008.09a.5.5 0 01-.41.492l-.09.008H8.064a.499.499 0 01-.491-.41l-.009-.09v-3.5H6.82a.5.5 0 01-.492-.41l-.008-.09a.5.5 0 01.41-.492l.09-.008h1.244zM7.711 4a.858.858 0 110 1.715.858.858 0 010-1.715z"></path>
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="doz42w-0 csqlXa sc-12j585j-0 daQhkC">
          <div class="kfsud2-0 ksFpim">
            <span>10 - 25 min</span>
            <span class="sc-1s7azl4-0 jLYXBL">·</span>
            {{#if tienda.price_delivery}}
            <span>${{tienda.price_delivery}} envío</span>
            {{else}}
            <span>meraki envíos</span>
            {{/if}}
            <span class="sc-1s7azl4-0 jLYXBL">·</span>
            <span>Mínimo $299</span>
          </div>
        </div>
        
        
      </div>
    </section>
  </div>
  
  {{!-- header titles --}}
  <div class="rimijh-0 cjScwJ sc-1gje7nt-1 qfq3s6-1 cZaPHI">
    <div class="yxaxac-0 iuxFoD">
        <div class="cggoy4-0 iFGKVa wioz0i-0 sc-1gje7nt-0 bLpJlS" id="swiper__element_tabs">
          <div width="50" class="sc-24nox7-0 hQRLbY">
            <span class="sc-24nox7-1 dOGfkH">Productos</span>
          </div>
          <div class="sc-24nox7-0 lkyWWV">
              <span class="sc-24nox7-1 ibfyzr"><input type="search" placeholder="Buscar..." name="" id=""></span>
          </div>        
        </div>
    </div>
  </div>
  {{!-- categories  --}}
  {{#if categories}}
    {{#each categories}}
      <div class="xcrn65-0 fEahBh sc-1bt0piu-0 d2ly8b-1 XmpOu">
        <span class="sc-1rcjn1n-0 ktEUQh">
          <h3 class="g8fctk-0 clWljy">{{name_category}}</h3>      
        </span>
      </div>
    {{/each}}
  {{else}}
  {{/if}}
 


  {{!-- card product --}}
  <div class="full_width">
    
    <div class="yxaxac-0 iuxFoD">
      <div class="cggoy4-0 iFGKVa wioz0i-0 d2ly8b-0 infEZr" id="swiper__element_shelves-section3493304">
          {{#each productos}}
          <div id="infocard" direction="column" class="sc-1uudfj-0 sc-10rx79f-0 lmGvas">
            <div class="sc-7kom5h-0 fRQOGO">
              <div class="sc-19kh4fu-0 hqyyDh">
                <picture>
                  {{!-- <img src="/img/favicon/logo.png" alt="img prueba"> --}}
                  <img src="/../uploads/{{img}}" class="sc-11h6bs4-0 byKNUF sc-16krbne-0 sc-19kh4fu-1 ghgZpN ls-is-cached lazyloaded" alt="{{title}}" >
                  
                </picture>
              </div>
              
              <div class="sc-1pnv15w-0 YwRaS">
              </div>
            </div>

            <div>
              <div class="sc-5gm38m-0 jdWDGL one-click-element">
                
                <div class="sc-1gtngjx-0 fTsiLt" >
                  
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b1a46" viewBox="0 0 16 16"><path d="M7 7V3c0-1.333 2-1.333 2 0v4h4a1 1 0 010 2H9v4c0 1.333-2 1.333-2 0V9H3a1 1 0 010-2h4z"></path>
                  </svg>
                
                </div>

              </div>
            </div>
          
            <div class="sc-11j7acj-0 egWzFC">
                <div>
                    <div class="sc-1yeh8k-0 gmmKyp">
                        <span class="sc-1ozo3ha-0 kkuzRX">
                          {{title}}                                                    
                        </span>
                    </div>
                </div>
                <span class="sc-1qr090j-0 eiPaRy">

                  <div id="price" class="oel5gd-0 fRdyRp">

                    <span class="sc-68i9x5-0 ekcLNF">
                      <span class="teqjqu-0 kTsFWn coreb3-0 kaAveC">
                        ${{price}}
                      </span>
                    </span>

                  </div>

                </span>
            </div>
          </div>
          {{/each}}
          <div class="sc-15krnmr-0 bVtfTt"></div>
      
      </div>
    </div>
    
  </div>
  {{else}}
  no hay productos
  {{/if}}
</div>