{{#if user.company}}
<div class="mobile">
    {{#if product}}
   
    <div class="cont-im">
        <img class="prdimgn" src="/uploads/{{product.img}}" alt="{{product.title}}" srcset="">
    </div>

    <div direction="row" class="sc-1uudfj-0 d11zps-0 kIRbec">
        <div class="d11zps-2 dgDVVW">
        <span class="d11zps-1 jCEUsl">Nombre</span>
        <div>{{product.title}}  </div>
        </div>        
    
    </div>
    
    <div direction="row" class="sc-1uudfj-0 d11zps-0 kIRbec">
        <div class="d11zps-2 dgDVVW">
        <span class="d11zps-1 jCEUsl">Descripción</span>
        <div>{{product.description}}</div>
        </div>        
        
    </div>
    
    <div direction="row" class="sc-1uudfj-0 d11zps-0 kIRbec">
        <div class="d11zps-2 dgDVVW">
        <span class="d11zps-1 jCEUsl">Categoria</span>
        <div>{{product.category}}</div>
        </div>        
        
    </div>

    <div direction="row" class="sc-1uudfj-0 d11zps-0 kIRbec">
        <div class="d11zps-2 dgDVVW">
        <span class="d11zps-1 jCEUsl">Metodo de venta</span>
        <div>Unidades</div>
        </div>    
        <div> Disponibilidad 5</div>    
    </div>
    
    <div direction="row" class="sc-1uudfj-0 d11zps-0 kIRbec">
        <div class="d11zps-2 dgDVVW">
        <span class="d11zps-1 jCEUsl">Precio</span>
        <div>${{product.price}}</div>
        </div>        
    </div>

    {{/if}}
</div>
{{/if}}